REACT_APP_BASEPATH=/
REACT_APP_PROXY_SERVER=https://proxy.set-icap.com
REACT_APP_NODE_SERVER=https://back.set-icap.com/
NODE_ENV=production
REACT_APP_TRIMESTRAL_PRICE="483.557"
REACT_APP_SEMESTRAL_PRICE="899.640"
REACT_APP_ANUAL_PRICE="1'664.334"